@model Category
@{
    ViewData["Title"] = "Create";
}

<h1>Add Category</h1>

<form method="post" asp-action="Create">

    <div class="text-danger" asp-validation-summary="All"></div>
   

    <div class="mb-3">
        <label for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>


    <div class="mb-3">
        <label for="Description">Description</label>
        <textarea id="Description" asp-for="Description" class="form-control"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
